@media (max-width: 1024px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  #project {
    flex-direction: column;
    align-items: center;
  }
  #projectimg {
    height: auto !important;
    width: 90% !important;
    margin-bottom: 20px;
  }
  button{
    margin-top:  40px;
    display: block;
    margin: 20px auto;
  }
  #cntct_txt{
    text-align: center;
  }
  a{
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  nav {
    justify-content: center;
    margin: 1rem 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  header{
    margin-bottom: 0;
  }
  section {
    padding: 1rem;
    padding-bottom: 20px;
  }
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .skill-title{
    margin: 10px;
  }
  #hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .grid,
  .not_grid {
    grid-template-columns: 1fr;
  }
  .grid_skills {
    grid-template-columns: repeat(3, 1fr);
  }
  #name_head,
  #subtitle {
    padding-left: 0;
  }
  
}
@media (max-width: 480px) {
  .grid_skills {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  .projectimg{
    height: auto;
    width: 60%;
  }
}
@media (max-width: 420px){
    .grid_skills {
    grid-template-columns: repeat(1, 1fr);
  }
}
